{% extends "layout.html" %}
{% block title %}Quickmunch | Food Delivery Hub{% endblock %}
{% block content%}
    <div class="main-sec"></div>
    <!-- Navigation -->
    <!-- slider -->
    <section
        class="about-us-slider swiper-container p-relative swiper-container-initialized swiper-container-horizontal"
        style="cursor: grab"
    >
        <div class="swiper-wrapper" style="transform: translate3d(-2968px, 0px, 0px); transition-duration: 1000ms">
            <div
                class="swiper-slide slide-item swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                data-swiper-slide-index="2"
                style="width: 742px"
            >
                <img src="{{ url_for('static', filename='imgs/chicken.webp') }}" class="img-fluid full-width" alt="Banner" />
                <!-- <img src="{{ url_for('static', filename='/imgs/chicken.webp') }}" class="img-fluid full-width" alt="Banner" /> -->
                <div class="transform-center">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 align-self-center">
                                <div class="right-side-content text-right">
                                    <h1 class="text-custom-white fw-600">Increase takeout sales by 50%</h1>
                                    <h3 class="text-custom-white fw-400">
                                        with the largest delivery platform in the U.S. and Canada
                                    </h3>
                                    <a href="/details" class="btn-second btn-submit">Learn More.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg"></div>
            </div>
            <div
                class="swiper-slide slide-item swiper-slide-duplicate-active"
                data-swiper-slide-index="0"
                style="width: 742px"
            >
                <img src="{{ url_for('static', filename='imgs/linguine.png') }}" class="img-fluid full-width" alt="Banner" />
                <div class="transform-center">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7 align-self-center">
                                <div class="right-side-content">
                                    <h1 class="text-custom-white fw-600">Increase takeout sales by 50%</h1>
                                    <h3 class="text-custom-white fw-400">
                                        with the largest delivery platform in the U.S. and Canada
                                    </h3>
                                    <a href="/details" class="btn-second btn-submit">Learn More.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg"></div>
            </div>
            <div class="swiper-slide slide-item" data-swiper-slide-index="1" style="width: 742px">
                <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="img-fluid full-width" alt="Banner" />
                <div class="transform-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 align-self-center">
                                <div class="right-side-content text-center">
                                    <h1 class="text-custom-white fw-600">Increase takeout sales by 50%</h1>
                                    <h3 class="text-custom-white fw-400">
                                        with the largest delivery platform in the U.S. and Canada
                                    </h3>
                                    <a href="/details" class="btn-second btn-submit">Learn More.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg"></div>
            </div>
            <div
                class="swiper-slide slide-item swiper-slide-prev swiper-slide-duplicate-next"
                data-swiper-slide-index="2"
                style="width: 742px"
            >
                <img src="{{ url_for('static', filename='imgs/linguine.png') }}" class="img-fluid full-width" alt="Banner" />
                <div class="transform-center">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 align-self-center">
                                <div class="right-side-content text-right">
                                    <h1 class="text-custom-white fw-600">Increase takeout sales by 50%</h1>
                                    <h3 class="text-custom-white fw-400">
                                        with the largest delivery platform in the U.S. and Canada
                                    </h3>
                                    <a href="/details" class="btn-second btn-submit">Learn More.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg"></div>
            </div>
            <div
                class="swiper-slide slide-item swiper-slide-duplicate swiper-slide-active"
                data-swiper-slide-index="0"
                style="width: 742px"
            >
                <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="img-fluid full-width" alt="Banner" />
                <div class="transform-center">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7 align-self-center">
                                <div class="right-side-content">
                                    <h1 class="text-custom-white fw-600">Increase takeout sales by 50%</h1>
                                    <h3 class="text-custom-white fw-400">
                                        with the largest delivery platform in the U.S. and Canada
                                    </h3>
                                    <a href="/details" class="btn-second btn-submit">Learn More.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg"></div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" fdprocessedid="khkay"></div>
        <div
            class="swiper-button-prev"
            tabindex="0"
            role="button"
            aria-label="Previous slide"
            fdprocessedid="klwb4"
        ></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </section>
    <!-- slider -->
    <!-- Browse by category -->
    <section class="browse-cat u-line section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header-left">
                        <h3 class="text-light-black header-title title">
                            Browse by cuisine
                            {% if current_user.is_authenticated %}
                                {{ current_user.get_id() }}
                            {%endif%}
                            <span class="fs-14"><a href="/details">See all restaurant</a></span>
                        </h3>
                    </div>
                </div>
                <div class="col-12">
                    <div
                        class="category-slider swiper-container swiper-container-initialized swiper-container-horizontal"
                    >
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px)">
                            <div class="swiper-slide swiper-slide-active" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon icon-parent text-custom-white bg-light-green">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <span class="text-light-black cat-name">Brooklyn</span>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/linguine.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Italian </span>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/linguine.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Thai </span>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Chinese </span>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Mexican </span>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Mexican </span>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Mexican </span>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Mexican </span>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Mexican </span>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 160px; margin-right: 15px">
                                <a href="/details" class="categories">
                                    <div class="icon text-custom-white bg-light-green">
                                        <img src="{{ url_for('static', filename='imgs/tapenade.png') }}" class="rounded-circle" alt="categories" />
                                    </div>
                                    <span class="text-light-black cat-name">Mexican </span>
                                </a>
                            </div>
                        </div>
                
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Browse by category -->
    <!-- your previous order -->
    <section class="recent-order section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header-left">
                        <h3 class="text-light-black header-title title">
                            Your previous orders
                            <span class="fs-14"><a href="order-details.html">See all past orders</a></span>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product-box mb-md-20">
                        <div class="product-img">
                            <a href="/details">
                                <img src="{{ url_for('static', filename='imgs/linguine.png') }}" class="img-fluid full-width" alt="product-img" />
                            </a>
                        </div>
                        <div class="product-caption">
                            <h6 class="product-title">
                                <a href="/details" class="text-light-black"> Chilli Chicken Pizza</a>
                            </h6>
                            <p class="text-light-white">Big Bites, Brooklyn</p>
                            <div class="product-btn">
                                <a
                                    href="order-details.html"
                                    class="btn-first white-btn full-width text-light-green fw-600"
                                    >Track Order</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- your previous order -->
    <!-- Explore collection -->
    <section class="ex-collection section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header-left">
                        <h3 class="text-light-black header-title title">Danh sách món ăn</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="ex-collection-box mb-xl-20">
                        <img src="{{ url_for('static', filename='imgs/linguine.png') }}" class="img-fluid full-width" alt="image" />
                        <div class="category-type overlay padding-15">
                            <a href="/details" class="category-btn">Top rated</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product-box mb-xl-20">
                                <div class="product-img">
                                    <a href="/details">
                                        <img
                                            src="{{ url_for('static', filename='imgs/tapenade.png') }}"
                                            class="img-fluid full-width"
                                            alt="product-img"
                                        />
                                    </a>
                                    <div class="overlay">
                                        <div class="product-tags padding-10">
                                            <span class="circle-tag">
                                                <img src="{{ url_for('static', filename='imgs/heart.svg') }}" alt="tag" />
                                            </span>
                                            <div class="custom-tag">
                                                <span class="text-custom-white rectangle-tag bg-gradient-red">
                                                    10%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="title-box">
                                        <h6 class="product-title">
                                            <a href="/details" class="text-light-black"> food name</a>
                                        </h6>
                                        <div class="tags">
                                            <span class="text-custom-white rectangle-tag bg-yellow">3.1</span>
                                        </div>
                                    </div>
                                    <p class="text-light-white">Chuẩn cơm mẹ nấu!</p>
                                    <div class="product-details">
                                        <div class="price-time">
                                            <span class="old-price" style="text-decoration: line-through"
                                                >200.000 đ</span
                                            >
                                            <span class="text-light-white price">1.000.000 đ</span>
                                        </div>
                                        <div class="rating">
                                            <span>
                                                <i class="fas fa-star text-yellow"></i>
                                                <i class="fas fa-star text-yellow"></i>
                                                <i class="fas fa-star text-yellow"></i>
                                                <i class="fas fa-star text-yellow"></i>
                                                <i class="fas fa-star text-yellow"></i>
                                            </span>
                                            <span class="text-light-white text-right">4225 ratings</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Explore collection -->

    
{% endblock %}

