{% extends "layoutOnlyBody.html" %}
{% block title%} Register {% endblock %}

{% block content %}
<div class="inner-wrapper">
    <div class="container-fluid no-padding">
        <div class="row no-gutters overflow-auto">
            <div class="col-md-12">
                <div class="section-2 user-page main-padding">
                    <div class="login-sec">
                        <div class="login-box">
                            <form class="register-form">
                                <h4 class="text-light-black fw-600">Create your account</h4>
                                <div class="row">
                                    {{ form.hidden_tag() }}
                                    <div class="col-lg-6 col-md-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-light-white fs-14">First name</label>
                                            {{ form.first_name }}
                                            <p class="first-name-error"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-light-white fs-14">Last name</label>
                                            {{ form.last_name }}
                                            <p class="last-name-error"></p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="text-light-white fs-14">Email</label>
                                            {{ form.email }}
                                            <p class="email-error"></p>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-light-white fs-14">Password (8 character minimum)</label>
                                            {{ form.password }}
                                            <p class="password-error"></p>
                                            <div
                                                data-name="#password-field"
                                                class="fa fa-fw fa-eye field-icon toggle-password"
                                            ></div>
                                        </div>
                                
                                        <div class="form-group">
                                            {{ form.submit() }}
                                        </div>
                                        <div class="form-group text-center"><span>or</span></div>
                                        <div class="form-group">
                                            <button
                                                type="submit"
                                                class="btn-second btn-facebook full-width"
                                                fdprocessedid="ondn7"
                                            >
                                                <span class="mx-1"><i class="fa-brands fa-facebook"></i></span>Continue
                                                with Facebook
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button
                                                type="submit"
                                                class="btn-second btn-google full-width"
                                                fdprocessedid="91nx7j"
                                            >
                                                <span class="mx-1"><i class="fa-brands fa-google"></i></span>
                                                Continue with Google
                                            </button>
                                        </div>
                                        <div class="form-group text-center">
                                            <p class="text-light-black mb-0">
                                                Have an account? <a href="/login">Sign in</a>
                                            </p>
                                        </div>
                                        <span class="text-light-black fs-12 terms"
                                            >By creating your Quickmunch account, you agree to the
                                            <a href="#"> Terms of Use </a> and <a href="#"> Privacy Policy.</a></span
                                        >
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector('.register-form');
    const buttonRegister = form.elements["button-register"];

    const emailField = form.elements["email-field"];
    const passwordField = form.elements["password-field"];
    const firstNameField = form.elements["first-name-field"]
    const lastNameField = form.elements["last-name-field"];

    const firstNameError = document.querySelector('.first-name-error');
    const lastNameError = document.querySelector('.last-name-error');
    const emailError = document.querySelector('.email-error');
    const passwordError = document.querySelector('.password-error');

    emailField.addEventListener('focus', (e) => {
        emailError.innerHTML = '';
    });
    passwordField.addEventListener('focus', (e) => {
        passwordError.innerHTML = '';
    });
    firstNameField.addEventListener('focus', (e) => {
        firstNameError.innerHTML = '';
    });
    lastNameField.addEventListener('focus', (e) => {
        lastNameError.innerHTML = '';
    });

    buttonRegister.addEventListener('click', async (e) => {
        e.preventDefault();
        const first_name = firstNameField.value;
        const last_name = lastNameField.value;
        const email = emailField.value;
        const password = passwordField.value;
        const csrfToken = form.querySelector('input[name="csrf_token"]').value;

        const formData = {
            first_name,
            last_name,
            email,
            password,
            csrf_token: csrfToken
        }

        try {
            const res = await fetch("http://127.0.0.1:5000/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(formData),
            });

            const data = await res.json();
            console.log(data);
            if (data.errors) {
                if(data.errors.email) emailError.innerHTML = data.errors.email;
                if(data.errors.password) passwordError.innerHTML = data.errors.password;
                if(data.errors.first_name) firstNameError.innerHTML = data.errors.first_name;
                if(data.errors.last_name) lastNameError.innerHTML = data.errors.last_name;
                
            } else {
                location.assign("/login");
            }
        } catch (error) {
            console.log("Error", error);
        }
    })
</script>

{% endblock %}
