<footer class="section-padding bg-light-theme pt-0 u-line bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-contact">
                    <h6 class="text-custom-white">Need Help</h6>
                    <ul>
                        <li class="fw-600"><span class="text-light-white">Call Us</span> <a href="tel:" class="text-custom-white">+(347) 123 456 789</a>
                        </li>
                        <li class="fw-600"><span class="text-light-white">Email Us</span> <a href="mailto:" class="text-custom-white">demo@domain.com</a>
                        </li>
                        <li class="fw-600"><span class="text-light-white">Join our twitter</span> <a href="#" class="text-custom-white">@quickmunch</a>
                        </li>
                        <li class="fw-600"><span class="text-light-white">Join our instagram</span> <a href="#" class="text-custom-white">@quickmunch</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Get to Know Us</h6>
                    <ul>
                        <li><a href="#" class="text-light-white fw-600">About Us</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Blog</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Socialize</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Quickmunch</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Perks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Let Us Help You</h6>
                    <ul>
                        <li><a href="#" class="text-light-white fw-600">Account Details</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Order History</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Find restaurant</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Login</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Track order</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Doing Business</h6>
                    <ul>
                        <li><a href="#" class="text-light-white fw-600">Suggest an Idea</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Be a Partner restaurant</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Create an Account</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Download Apps</h6>
                    <div class="appimg">
                        <a href="#">
                            <img src="{{ url_for('static', filename='imgs/playstore.jpg') }}" class="img-fluid" alt="app logo">
                        </a>
                    </div>
                    <div class="appimg">
                        <a href="#">
                            <img src="{{ url_for('static', filename='imgs/appstore.jpg') }}" class="img-fluid" alt="app logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-contact">
                    <h6 class="text-custom-white">Newsletter</h6>
                    <form class="subscribe_form">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-submit" name="email" placeholder="Enter your email" fdprocessedid="3tyyq">
                            <span class="input-group-btn">
                  <button class="btn btn-second btn-submit" type="button" fdprocessedid="dtj8eq"><i class="fas fa-paper-plane"></i></button>
             </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ft-social-media">
                    <h6 class="text-center text-custom-white">Follow us</h6>
                    <ul>
                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 text-center medewithlove align-self-center">
                <a href="/FoodOrder/" class="text-custom-white">Made with Real <i class="fas fa-heart"></i> Metropolitantheme</a>
            </div>
            <div class="col-lg-4">
                <div class="copyright-text"> <span class="text-light-white">© <a href="#" class="text-light-white">Metropolitantheme</a> - 2024 | All Right Reserved</span>
                </div>
            </div>
        </div>
    </div>
</div>